body{
	font-family: sans-serif;
	margin:0 auto;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header{
	background-color: #e22c26;
	margin: 0 auto;
}


article img{
	width: 400px;
	height: 800px;
}

.faker{
	width: 400px;
	height: 300px;
	display: block;
	margin: auto;	
}


aside{
  position: fixed;
  float: right;
  width:25%;
  top: 150px;
  bottom: 0px;
  right: 0px;
  background-color: #fcfcfc;
}

footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #9fa3a8;
    margin: 0px;
}
section{
	text-align: center;
	margin-bottom: 50px
}
section h2{
	margin: 0 auto;
}
header h1{margin: 0 auto;

}
header p{
	margin: 0 auto;
}

header ul{
	margin: 0 auto;
}
section p{
	margin: 0 auto;
	width: 50;
	text-align:left;
}
section h3{
	margin: 0 auto;
	width: 50;
	text-align:left;
}
section{
	width: 70%;
}
#stadion{
	width: 1000px;
	height: 500px;
}
.optic{
	text-align: left;
}
.main{
	display: flex;
	flex-wrap: wrap;
}
.child{
	width: 50%;
	margin: 0px;
}