body{
	font-family: sans-serif;
	margin:0 auto;
}
main h1{
	font-size: 200%;
	margin: 0 auto;
}
ul li{
	display: inline-block;
	color: #7700ff;
	padding: 15px;

}
header{
	background-color: #e22c26;
}
main p {
margin: 0 auto;
text-decoration: none;
}